:root {
  --custom-gray: #303841; /* https://webaim.org/resources/contrastchecker/ */
  --custom-blue: #E5F4FF; /* contrast ratio blue:gray 10.6:1 */
  --custom-white: #FFFFF7; /* contrast ratio white:gray 11.8:1 */
  --custom-red: #6A1B21; /* contrast ratio red:white 11.6:1 */
  --gap-size: 2rem;
  --font-size: 2rem;
}

* {
  margin: 0;
  padding: 0;
}

body, a {
    font-family: 'Raleway', sans-serif;
  color: var(--custom-gray);
  line-height: 1.4;
}

#navbar {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--custom-red);
}

#navbar ul {
  list-style: none;
  display: flex;
  margin-right: var(--gap-size);
}

#navbar ul a {
  display: block;
  padding: var(--gap-size);
  font-size: var(--font-size);
  color: var(--custom-white);
  transition: background 1s linear;
}

#navbar ul a:hover {
  background: var(--custom-white);
  color: var(--custom-red);
}

a {
  text-decoration: none;
}

#memo, #survey, #gallery {
    min-height: 100vh;
}

#memo, #survey {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: calc(var(--font-size) * 1.1);
}

#memo {
    padding-top: var(--gap-size);
    background: var(--custom-white);
}

.memo-form {
  display: flex;
  flex-direction: column;
}

h1 {
  margin-bottom: var(--gap-size);
}

#memo p {
    margin: var(--gap-size);
}

.memo-form p a {
    text-decoration-line: underline; /* split to separate properties from "text-decoration" */
    -webkit-text-decoration-line: underline; /* because Safari don't support "text-decoration-line" */
    text-decoration-style: dashed;
    text-decoration-thickness: 5%;
    text-underline-offset: 0.05em;
}

#survey {
    background: var(--custom-blue);
}

form div {
    padding: var(--gap-size);
}

form label {
    padding-right: var(--gap-size);
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext { /* popup for food options */
    visibility: hidden;
    width: 200%;
    background-color: var(--custom-white);
    color: var(--custom-gray);
    font-size: calc(var(--font-size) / 1.4);
    text-align: center;
    padding: calc(var(--gap-size) / 1.5);
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 105%;
    left: 50%;
    opacity: 0;
    transition: opacity 1s linear;
}

.dish .tooltip:nth-child(2) .tooltiptext {
    transform: translateX(-50%); /* used to keep all hints appear in same position */
}

.dish .tooltip:nth-child(3) .tooltiptext {
    transform: translateX(-100%);
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

input[type="text"] {
    height: var(--font-size);
    width: calc(var(--font-size) * 10);
    vertical-align: middle;
    font-size: calc(var(--font-size) / 1.2);
}

input[type="radio"], input[type="checkbox"] {
    height: calc(var(--font-size) / 1.2);
    width: calc(var(--font-size) / 1.2);
    vertical-align: middle;
    margin-right: calc(var(--gap-size) / 2);
}

input[type="submit"] {
    height: calc(var(--font-size) * 1.6);
    width: calc(var(--font-size) * 7);
    font-size: var(--font-size);
    font-family: 'Raleway', sans-serif;
    border: none;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    margin: var(--gap-size) auto;
    background: var(--custom-red);
    color: var(--custom-white);
    transition: all 0.7s linear 150ms;
}

input[type="submit"]:hover, input[type="submit"]:focus {
  background: var(--custom-white);
  color: var(--custom-red);
}

.popup-overlay { /* popup after form submitted */
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    visibility: hidden;
    opacity: 0;
}

.popup-overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup-close {
    position: relative;
    left: 50%;
    font-size: calc(var(--font-size) * 2);
    color: var(--custom-white);
}

.popup-msg {
    position: relative;
    text-align: center;
    margin: 40vh auto;
    padding: 0 calc(var(--gap-size) * 1.5) calc(var(--gap-size) * 2);
    border-radius: 6px;
    max-width: 50%;
    background: var(--custom-red);
    color: var(--custom-white);
    overflow: auto;
}

#gallery {
  display: grid;
  align-items: center;
  text-align: center;
  padding: var(--gap-size);
  background: var(--custom-white);
  font-size: calc(var(--font-size) * 1.1);
}

#gallery h1 {
    padding: var(--gap-size);
}

.photos-grid {
  display: grid; /* min width of each column = 300px, and max count of columns = 3 */
    align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(max(300px, (100% - var(--gap-size) * 2) / 3), 1fr));
  grid-gap: var(--gap-size);
  width: 100%;
}

.photo-tile {
  background: #C3B5B0; /* contrast ratio beige:gray 6:1 */
}

.photo-tile img {
  display: block;
  width: 100%;
  height: calc(100% - 4rem);
  object-fit: cover;
}

iframe {
    aspect-ratio: 4 / 3; /* maps height will adopt to biggest img in row, but will be 4:3 if alone */
}

.photo-tile p {
  font-size: calc(var(--font-size) / 1.25);
  margin: calc(var(--gap-size) / 2) auto;
}

@media (max-width: 650px) {
  :root {
    --gap-size: 1.3rem;
    --font-size: 1.3rem;
  }
}

@media (max-width: 450px) {
  :root {
    --gap-size: 1.1rem;
    --font-size: 1.1rem;
  }
}

/* quests.html */

table {
  border-collapse: collapse;
  margin: 30px;
}

td,
th {
  border: 1px solid black;
  padding: 10px 20px;
}

.page-items, .pagination, table {
    color: var(--custom-gray);
}

.page-items, .pagination {
    margin: 10px 30px;
    font-size: calc(var(--font-size) / 1.5);
}

.pagination strong, .pagination a {
    color: black;
}

.pagination a {
    text-decoration: underline;
}